*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
    color:  #000000;
 }
header{
    width: auto;
    background-color: white;
    display: flex;
}
.logo{
    margin-top: 30PX;
    margin-left: 20px;
    display: inline-block;
}
.icon{
    margin: 10px;
    display: flex;
}
.icon li {
    margin: 10px;
    padding: 10px;
}
li{
   display: inline-block; 
   
}
.main1 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 30px;
}
.main1 li a:hover{
    color:  slateblue;
    text-shadow: slateblue;
}
.main1{
    margin-bottom: 0;
    height: 80px;
    width: auto;
    text-align: center;
    background-color: rgb(19, 19, 69);
    color: white;      
}
.main2{
    height: 300px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: left;
    opacity: 0.7;
    background-image: url(https://t4.ftcdn.net/jpg/03/95/04/15/240_F_395041586_h21AxqD0dNjxUw3lKFiV5t7qMBJs6wfe.jpg);
}
.contact{
    color: #ffffff;
    margin: 30px;
    z-index: 2;
    font-size: 60px;
    position: relative;
    padding: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px px 0px;
}
.main3{
    padding: 10px;        
}
.main4{
    display: flex;
    background-color:rgb(19, 19, 69);
    padding: 10px;
    text-decoration: none;
    gap: 40px;
}
header a{
    text-decoration: none;
    color:black;
    display: flex;
    
}
 a{
    text-decoration: none;
    color:white;
    display: flex;
    
}
.footerdiv{
    width: 330px;
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.main5{
    height: 55px; 
    background-color: rgb(24, 24, 52);
    color: white;
    padding: 2px;
    text-align: center;
}
.content{
    margin: 15px;
}
.main5 p{
    margin-top: 1%;
}
.heading{
    color: white;
}
.button:hover{
    color:  rgb(243, 209, 243);
}
.button{
    height: 35px;
    width: 100px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.message{
    border: 1px solid #707070;
    height: 80px;
    width: 250px;
    border-radius: 10px;
    padding: 5px;
}
.inpt{
    border: 1px solid #707070;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
}
.headd{
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    border: 1px solid #707070;
    border-radius: 0px 30px 30px 30px
}
.image{
    height: 100px;
    width: 250px;
}
.tags{
    gap: 20px;
}
.arrow{
    position:absolute;
    z-index: 13;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 15px;
}
.arrow1{
    display: flex;
    justify-content: right;
    margin-left: 10px;
}
#preloader{
    background-color:rgb(19, 19, 69);
    height: 100%;
    background-size: 5%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://i.gifer.com/ZKZg.gif");
    position: fixed;
    z-index: 100;
}
@media only screen and (max-width: 768px){
    .square{
        width: 5em;
        height: 4em;
        overflow: hidden;
        margin: 0em;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.square:hover{
    background-color:  white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #000000;
 }
}
@media only screen and (max-width: 768px){
    #preloader{
        background-color:rgb(19, 19, 69);
        margin: 0% !important;
        height: 100%;
        background-size: cover !important;
        background-size: 8% !important;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://i.gifer.com/ZKZg.gif");
        position: fixed;
        z-index: 100;
}
}
@media only screen and (max-width: 768px){
    header{
        background-color: white;
        display: inline;
    }
    .logo{
        margin-top: 0%;
        font-size: 5px;
    }
    .icon{
        margin: 0.2px !important;
    }
    .icon li {
        font-size: 10px;
    }
}
@media only screen and (max-width: 768px){
    .headd{
        width: 25%;
        height: 29px;
        padding: 4px 20px;
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 20px;
        border: 1px solid #707070;
        border-radius: 0px 30px 30px 30px
    }
}
@media only screen and (max-width: 768px){
.main4{
    display: block;
    background-color: rgb(5, 5, 83);
    padding: 10px;
    text-decoration: none;
}
}
@media only screen and (max-width: 768px){
    .main2{
        height: 130px !important;
        width: 100%;
        overflow: hidden;
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        text-align: left;
        opacity: 0.7;
        background-image: url(https://t4.ftcdn.net/jpg/03/95/04/15/240_F_395041586_h21AxqD0dNjxUw3lKFiV5t7qMBJs6wfe.jpg);
} 
.contact{
    color: #ffffff;
    margin: 35px !important;
    z-index: 2;
    font-size: 23px !important;
    position: relative;
    padding: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px px 0px;
}
}
@media only screen and (max-width: 768px){
    .main1 li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 20px;
}
.main1 li a:hover{
    color:  slateblue;
    text-shadow: slateblue;
}
.main1{
    height: 50px;
    width: auto;
    text-align: center;
    background-color: rgb(19, 19, 69);
    color: white;      
}
}