*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
        }
.main{
    width: auto;
    background-color: white;
    display: flex;
}
.logo{
    margin-top: 30PX;
    margin-left: 20px;
    display: inline-block;
}
.icon{
    display: flex;
    margin: 10px;
}
.icon li {
    margin: 10px;
    padding: 10px;
}
li{
   display: inline-block; 
  
}
.main1 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 30px;
}
.footerdiv{
    width: 330px;
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.main1 li a:hover{
    color:  slateblue;
    text-shadow: slateblue;
}
.button:hover{
    color:  rgb(243, 209, 243);
}
.main1{
    height: 90px;
    margin-bottom: 0;
    width: auto;
    text-align: center;
    background-color: rgb(19, 19, 69);
    color: white;   
}
.main3{
    padding: 10px;
}
.main4{
    display: flex;
    background-color:rgb(19, 19, 69);
    padding: 10px;
    text-decoration: none;
    gap: 40px;
}
.main4 a{
    text-decoration: none;
    padding: 7px;
    color: white;
    display: flex;
}
.main a{
    text-decoration: none;
    color:black;
    display: flex;
    
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    
}
.footerdiv{
    width: 330px;
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.main5{
    height: 55px; 
    background-color: rgb(24, 24, 52);
    color: white;
    padding: 2px;
    text-align: center;
}
.main5 p{
    margin-top: 1%;
}
.heading{ 
    padding: 6px;
    color: rgb(255, 255, 255);
}
.image{
    height: 100px;
    width: 250px;
}
.arrow{
    position:absolute;
    z-index: 13;
    border-radius: 50%;
    font-size: 40px;
    /* float: right; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 15px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0s;
}
.arrow1{
    display: flex;
    justify-content: right;
    margin-left: 10px;
    position: relative;
}
@media (max-width: 724px) {
.container {
width: 100% !important;
}
}
@media only screen and (max-width: 768px){
    .main{
        background-color: white;
        display: inline;
    }
    .logo{
        margin-top: 0%;
        font-size: 5px;
    }
    .icon{
        margin: 0.2px !important;
    }
    .icon li {
        font-size: 10px;
    }
}
@media only screen and (max-width: 768px){
    .headd{
        width: 25%;
        height: 29px;
        padding: 4px 20px;
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 20px;
        border: 1px solid #707070;
        border-radius: 0px 30px 30px 30px
    }
}
@media only screen and (max-width: 968px){
    .headd{
        width: 25%;
        height: 29px;
        padding: 4px 20px;
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 20px;
        border: 1px solid #707070;
        border-radius: 0px 30px 30px 30px
}
}
@media only screen and (max-width: 768px){
    .main1 li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 20px;
}
.main1 li a:hover{
    color:  slateblue;
    text-shadow: slateblue;
}
.main1{
    height: 50px;
    width: auto;
    text-align: center;
    background-color: rgb(19, 19, 69);
    color: white;      
}
}
@media only screen and (max-width: 768px){
    #preloader{
        background-color:rgb(19, 19, 69);
        margin: 0% !important;
        height: 100%;
        background-size: cover !important;
        background-size: 8% !important;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://i.gifer.com/ZKZg.gif");
        position: fixed;
        z-index: 100;
}
}
#preloader{
    background-color:rgb(19, 19, 69);
    height: 100%;
    background-size: 5%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://i.gifer.com/ZKZg.gif");
    position: fixed;
    z-index: 100;
}
@media only screen and (max-width: 768px){
.main4{
    display: block;
    background-color: rgb(5, 5, 83);
    padding: 10px;
    text-decoration: none;
}
}